.header {
  margin-top: 120px;
  height: 400px;
  color: #FFFFFF;
  font-size: xx-large;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e6ad00;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
}