html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  display: flex; 
  /*flex-direction: column;*/
  justify-content: center;
}

.container {
  margin: 0 5%;   
   margin-top: 120px;
}

/*Desktop*/
@media only screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: space-between;  
  }

  .header {
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 140px;
    position: sticky;
    top: 120px;
    width: 50%;
  }

  main {
    margin: 1vw;
  }
}

/*Mobile*/
@media only screen and (max-width: 767px) {
  .container {
    margin: 0 5%;   
     margin-top: 0;
  }
  body{
   display: flex;
   flex-direction: column;
  }
  nav {
  background-color: #e6ad00;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
 }

  main {
   width: 90%;
   margin-top:0;
 }
 
}