nav {
  height: 120px;
  width: 100%;
  background: #4056A1;  
  color: #FFFFFF;
  padding: 0 1.5em;

  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;

}

.titleleft{
  font-family: 'Bungee', cursive;
  font-size:xx-large;
}

.titleright{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

i.fa-solid.fa-angles-down{
  display: flex;
  justify-content: center;
  color: red;
}

/*Mobile*/
@media only screen and (max-width: 767px) {
  nav {
    background-color: #e6ad00;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
  }
}