/* text area */
.textname {
  display: none;
}

.formtop {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;

}

textarea {
  border: 0ch;
  border-bottom: 4px solid rgb(46, 46, 46);
  background: transparent;
  margin-bottom: 10px;
}

#tweet-text {
  font-size:large;
  font-weight: bold;
}


/*     underarea        */
.formbottom {
  display: flex; 
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

button {
  background-color: #4056A1;
  color:#FFFFFF;
  /*font-size:large;*/
}

.changeToRed {
  color: red;
}